This notebook goes along with the Deep Learning using Keras tutorial on Medium.

In [1]:
import pandas as pd
from keras.models import Sequential
from keras.layers import Dense
from keras.callbacks import EarlyStopping
from keras.utils import to_categorical

Using TensorFlow backend.

In this first model, we are going to predict the hourly wages of employees.

In [7]:
#read in training data
train_df = pd.read_csv('hourly_wages_data.csv')

#view data structure
train_df.head()

,wage_per_hour,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
0,5.10,0,8,21,35,1,1,0,1,0
1,4.95,0,9,42,57,1,1,0,1,0
2,6.67,0,12,1,19,0,0,0,1,0
3,4.00,0,12,4,22,0,0,0,0,0
4,7.50,0,12,17,35,0,1,0,0,0

In [8]:
#create a dataframe with all training data except the target column
train_X = train_df.drop(columns=['wage_per_hour'])

#check that the target variable has been removed
train_X.head()

,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
0,0,8,21,35,1,1,0,1,0
1,0,9,42,57,1,1,0,1,0
2,0,12,1,19,0,0,0,1,0
3,0,12,4,22,0,0,0,0,0
4,0,12,17,35,0,1,0,0,0

In [9]:
#create a dataframe with only the target column
train_y = train_df[['wage_per_hour']]

#view dataframe
train_y.head()

   wage_per_hour
0           5.10
1           4.95
2           6.67
3           4.00
4           7.50

In [10]:
#create model
model = Sequential()

#get number of columns in training data
n_cols = train_X.shape[1]

#add model layers
model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
model.add(Dense(10, activation='relu'))
model.add(Dense(1))

#compile model using mse as a measure of model performance
model.compile(optimizer='adam', loss='mean_squared_error')

#set early stopping monitor so the model stops training when it won't improve anymore
early_stopping_monitor = EarlyStopping(patience=3)

In [11]:
#train model
model.fit(train_X, train_y, validation_split=0.2, epochs=30, callbacks=[early_stopping_monitor])

Train on 427 samples, validate on 107 samples
Epoch 1/30
427/427 [==============================] - 0s 512us/step - loss: 333.2895 - val_loss: 371.6619
Epoch 2/30
427/427 [==============================] - 0s 100us/step - loss: 251.5307 - val_loss: 293.4894
Epoch 3/30
427/427 [==============================] - 0s 99us/step - loss: 186.2238 - val_loss: 237.8716
Epoch 4/30
427/427 [==============================] - 0s 120us/step - loss: 141.4389 - val_loss: 196.2856
Epoch 5/30
427/427 [==============================] - 0s 461us/step - loss: 107.5065 - val_loss: 162.0857
Epoch 6/30
427/427 [==============================] - 0s 111us/step - loss: 81.5927 - val_loss: 132.3008
Epoch 7/30
427/427 [==============================] - 0s 221us/step - loss: 61.9696 - val_loss: 107.4432
Epoch 8/30
427/427 [==============================] - 0s 92us/step - loss: 47.5833 - val_loss: 88.8752
Epoch 9/30
427/427 [==============================] - 0s 184us/step - loss: 37.4845 - val_loss: 73.3352
Epoch 10/30
427/427 [==============================] - 0s 206us/step - loss: 30.3766 - val_loss: 61.3994
Epoch 11/30
427/427 [==============================] - 0s 102us/step - loss: 26.1989 - val_loss: 52.1964
Epoch 12/30
427/427 [==============================] - 0s 78us/step - loss: 23.8418 - val_loss: 46.1106
Epoch 13/30
427/427 [==============================] - 0s 180us/step - loss: 22.1900 - val_loss: 42.7125
Epoch 14/30
427/427 [==============================] - 0s 90us/step - loss: 21.1828 - val_loss: 40.4947
Epoch 15/30
427/427 [==============================] - 0s 256us/step - loss: 20.5917 - val_loss: 38.6136
Epoch 16/30
427/427 [==============================] - 0s 230us/step - loss: 20.2208 - val_loss: 37.1852
Epoch 17/30
427/427 [==============================] - 0s 122us/step - loss: 19.9954 - val_loss: 35.8779
Epoch 18/30
427/427 [==============================] - 0s 116us/step - loss: 19.8133 - val_loss: 35.1934
Epoch 19/30
427/427 [==============================] - 0s 126us/step - loss: 19.6832 - val_loss: 34.3080
Epoch 20/30
427/427 [==============================] - 0s 133us/step - loss: 19.5843 - val_loss: 33.6259
Epoch 21/30
427/427 [==============================] - 0s 116us/step - loss: 19.5310 - val_loss: 33.5472
Epoch 22/30
427/427 [==============================] - 0s 95us/step - loss: 19.4506 - val_loss: 32.9534
Epoch 23/30
427/427 [==============================] - 0s 88us/step - loss: 19.3927 - val_loss: 32.2960
Epoch 24/30
427/427 [==============================] - 0s 138us/step - loss: 19.5226 - val_loss: 32.6635
Epoch 25/30
427/427 [==============================] - 0s 192us/step - loss: 19.2992 - val_loss: 31.7877
Epoch 26/30
427/427 [==============================] - 0s 126us/step - loss: 19.3257 - val_loss: 31.8421
Epoch 27/30
427/427 [==============================] - 0s 112us/step - loss: 19.2592 - val_loss: 32.2212
Epoch 28/30
427/427 [==============================] - 0s 101us/step - loss: 19.2227 - val_loss: 32.1168

In [133]:
#training a new model on the same data to show the effect of increasing model capacity

#create model
model_mc = Sequential()

#add model layers
model_mc.add(Dense(200, activation='relu', input_shape=(n_cols,)))
model_mc.add(Dense(200, activation='relu'))
model_mc.add(Dense(200, activation='relu'))
model_mc.add(Dense(1))

#compile model using mse as a measure of model performance
model_mc.compile(optimizer='adam', loss='mean_squared_error')

In [ ]:
#train model
model_mc.fit(train_X, train_y, validation_split=0.2, epochs=30, callbacks=[early_stopping_monitor])

For this next model, we are going to predict if patients have diabetes or not.

In [ ]:
#read in training data
train_df_2 = pd.read_csv('documents/data/diabetes_data.csv')

#view data structure
train_df_2.head()

In [ ]:
#create a dataframe with all training data except the target column
train_X_2 = train_df_2.drop(columns=['diabetes'])

#check that the target variable has been removed
train_X_2.head()

In [ ]:
#one-hot encode target column
train_y_2 = to_categorical(train_df_2.diabetes)

#vcheck that target column has been converted
train_y_2[0:5]

In [140]:
#create model
model_2 = Sequential()

#get number of columns in training data
n_cols_2 = train_X_2.shape[1]

#add layers to model
model_2.add(Dense(250, activation='relu', input_shape=(n_cols_2,)))
model_2.add(Dense(250, activation='relu'))
model_2.add(Dense(250, activation='relu'))
model_2.add(Dense(2, activation='softmax'))

#compile model using accuracy to measure model performance
model_2.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])

In [ ]:
#train model
model_2.fit(X_2, target, epochs=30, validation_split=0.2, callbacks=[early_stopping_monitor])